---

---

<section id="about" class="py-12 lg:py-15 px-8 lg:px-16 xl:px-[180px]">
  <div class="container mx-auto">
    <div
      class="grid grid-cols-1 lg:grid-cols-7 gap-1 text-center justify-center"
    >
      <h2 class="text-4xl md:text-6xl font-medium text-start col-span-3">
        About<br />DevFest
      </h2>
      <div class="col-span-4 flex items-center">
        <p class="text-lg lg:text-xl text-start">
          DevFest is a large, inclusive community-led tech conference! It
          embraces developers globally, hosting events to explore tools, learn
          from experts, and connect with local developers.
        </p>
      </div>
    </div>
    <img
      src="/images/about.webp"
      class="w-full mt-8"
      alt="DevFest photo set"
      width="720"
      height="385.2"
      fetchpriority="low"
      loading="lazy"
      decoding="async"
    />
  </div>
</section>
