---
// Community section component
---

<section class="py-7 mb-2 lg:mb-0 lg:py-9">
  <div class="container mx-auto px-6">
    <div
      class="text-center lg:flex lg:items-center lg:justify-between lg:text-left"
    >
      <!-- Content -->
      <div class="mb-8 lg:mb-0 lg:max-w-xl">
        <h2
          class="text-3xl lg:text-4xl font-bold text-white leading-tight mb-6 lg:mb-0 text-center"
        >
          Chat with one of our learning pros to uncover some cool new stuff!
        </h2>
      </div>

      <!-- CTA Button -->
      <div class="lg:flex-shrink-0">
        <a
          href="https://gdg.community.dev/gdg-bandung/"
          target="_blank"
          class="bg-blue hover:bg-dark-blue border-2 border-dark-blue font-medium text-white px-8 py-4 rounded-2xl flex items-center justify-center gap-3 cursor-pointer transition-colors duration-300 mx-auto lg:mx-0 w-full lg:w-xs"
        >
          <!-- People icon -->
          <img
            src="/icons/people-community.svg"
            alt="People"
            class="h-4 w-4 object-contain object-center"
            decoding="async"
            fetchpriority="low"
            loading="lazy"
          />
          Join Community
        </a>
      </div>
    </div>
  </div>
</section>
