<section
  class="relative min-h-screen pt-32 pb-12 lg:pt-40 lg:pb-28 flex items-center justify-center px-8 lg:px-16 xl:px-[180px] before:absolute before:inset-0 before:bg-[url('/images/hero.webp')] before:opacity-15 before:bg-cover before:bg-center before:bg-no-repeat after:absolute after:inset-0 after:bg-[linear-gradient(180deg,rgba(12,28,45,0)_35.58%,rgba(12,28,45,0.440299)_80.29%,#0c1c2d_100%)] after:z-10"
>
  <div
    class="container mx-auto text-center flex flex-col items-center gap-6 z-20"
  >
    <button class="p-0.5 rounded-3xl gradient-border"
      ><div class="py-2 px-4 rounded-3xl bg-white text-black items-center">
        <strong class="font-bold">🔥 Tickets Sold Out!</strong> Big thanks to everyone
        for the incredible support and excitement!
      </div>
    </button>
    <h2
      class="text-5xl sm:text-6xl md:text-[64px] lg:text-[80px] font-medium bg-linear-to-r text-white leading-tight"
    >
      The <strong class="text-blue">BIGGEST DevFest</strong> event in&nbsp;Indonesia
      is coming
    </h2>
    <p
      class="text-xl md:text-2xl lg:text-3xl text-white mx-auto leading-relaxed"
    >
      Catch up on the latest from Tech Conferences, Workshops, Panel Discussion, <br
        class="hidden lg:inline"
      /> Women Empowerment, and Live Podcasts. Don't miss out!
    </p>
    <div class="flex flex-col justify-center items-center">
      <time class="font-bold text-2xl">Sat, 29 November 2025</time>
      <address class="text-xs not-italic text-start">
        Universitas Kristen Maranatha, Bandung
      </address>
      <!-- <a
        href="https://goers.co/devfestbdg25"
        target="_blank"
        class="bg-blue hover:bg-dark-blue border-2 border-dark-blue font-medium text-white text-xl px-8 py-6 rounded-2xl flex items-center gap-3 cursor-pointer justify-center"
      >
        <img src="/icons/arrow-right-filled.svg" alt="Arrow" class="w-6 h-6" /> Get
        a ticket <div class="mt-0.5 h-0.5 w-4 bg-white"></div> here
      </a> -->
    </div>
    <p class="flex items-center justify-center gap-2 text-start">
      <img src="/images/person.webp" alt="participants" class="inline h-5" />
      Over 1800+ people have <br class="min-[500px]:hidden" /> snagged their tickets!
    </p>
  </div>
</section>
