---
import Countdown from "./countdown";
---

<section
  class="pt-12 pb-12 lg:pt-9 lg:pb-15 flex items-center justify-center px-8 lg:px-16 xl:px-[180px]"
>
  <div class="container mx-auto text-center">
    <h2
      class="text-5xl lg:text-7xl font-bold mb-6 bg-gradient-to-r text-white leading-tight"
    >
      The <strong class="text-blue">BIGGEST DevFest</strong> event in Indonesia is
      coming
    </h2>
    <p class="text-xl md:text-2xl text-white mb-8 mx-auto leading-relaxed">
      Catch up on the latest from Tech Conferences, Workshops, Exhibitions,
      Networking, Panel Discussions, and Corner Experts. Don't miss out!
    </p>
    <div class="flex flex-col sm:flex-row gap-4 justify-center mb-12">
      <a
        href="https://gdgbandung.com/sponsorship"
        target="_blank"
        class="bg-blue hover:bg-dark-blue border-2 border-dark-blue font-medium text-white px-6 py-4 rounded-2xl flex items-center gap-2 cursor-pointer justify-center"
      >
        <img src="/icons/arrow.svg" alt="Arrow" class="w-5 h-5" /> Become our Sponsor
      </a>
    </div>
    <div>
      <Countdown client:load />
      <img
        src="/images/hero-desktop.webp"
        alt="Devfest event"
        width="976"
        height="276.53"
        class="hidden lg:block -mt-11 w-full"
        fetchpriority="low"
        loading="lazy"
        decoding="async"
      />
      <img
        src="/images/hero-mobile.webp"
        alt="Devfest event"
        width="720"
        height="499.35"
        class="mt-6 lg:hidden w-full"
        fetchpriority="low"
        loading="lazy"
        decoding="async"
      />
    </div>
  </div>
</section>
