---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="flex flex-col gap-4 lg:gap-[42px] items-center justify-between h-full">
  <h3 class="flex items-center gap-4 text-xl lg:text-[28px]">
    <div class="bg-soft-blue w-1 h-8"></div>{title}
  </h3>
  <slot />
</div>
