@import "tailwindcss";

@theme {
  --font-sans: "Open Sans", sans-serif;

  /* Colors */
  /* basic */
  --color-black: #1f2123;
  --color-dark-gray: #2f3337;
  --color-white: #ffffff;
  /* red */
  --color-dark-red: #c73130;
  --color-red: #ea4335;
  --color-soft-red: #ff807f;
  --color-light-red: #fcf5f5;
  /* yellow */
  --color-dark-yellow: #ef870b;
  --color-yellow: #fbbd03;
  --color-soft-yellow: #ffe003;
  --color-light-yellow: #faf6d7;
  /* green */
  --color-dark-green: #047d5f;
  --color-green: #32a952;
  --color-soft-green: #14d364;
  --color-light-green: #ebf3f0;
  /* blue */
  --color-dark-blue: #0057e5;
  --color-blue: #4285f3;
  --color-soft-blue: #63bdfd;
  --color-light-blue: #e9f9fa;
}

body {
  @apply font-sans bg-black text-white;
}
