<section
  class="relative pt-32 pb-12 lg:py-64 lg:pb-36 flex items-center justify-center px-8 lg:px-16 xl:px-[180px]"
>
  <div
    class="container mx-auto text-center flex flex-col items-center gap-6 z-20 relative"
  >
    <h2
      class="text-5xl sm:text-6xl md:text-[64px] lg:text-[72px] xl:text-[80px] font-medium bg-linear-to-r text-white leading-tight"
    >
      Learn from The Best: <br /><strong class="text-blue">Experts</strong> at DevFest
      2025
    </h2>
    <p
      class="text-xl md:text-2xl lg:text-3xl text-white mx-auto leading-relaxed"
    >
      Empowering Every Participant Through Real Value
    </p>
  </div>
  <img
    src="/images/speaker/hero/speakers-left.webp"
    alt="Speakers Illustration"
    class="absolute top-1/2 left-0 transform -translate-y-1/2 max-w-32 lg:max-w-full grayscale"
  />
  <img
    src="/images/speaker/hero/speakers-right.webp"
    alt="Speakers Illustration"
    class="absolute top-1/2 right-0 transform -translate-y-1/2 max-w-32 lg:max-w-full grayscale"
  />
  <img
    src="/images/speaker/hero/light-effect-left.webp"
    alt="Speakers Illustration"
    class="absolute top-1/2 left-0 transform -translate-y-1/2 -mt-7"
  />
  <img
    src="/images/speaker/hero/light-effect-right.webp"
    alt="Speakers Illustration"
    class="absolute top-1/2 right-0 transform -translate-y-1/2 -mt-8"
  />
</section>
