---
import MobileMenuToggle from "./MobileMenuToggle";

const link = [
  // { name: "Agenda" },
  { name: "Speakers", link: "/speaker" },
  { name: "Ticket", link: "/ticket" },
  { name: "FAQ", link: "/faq" },
];
---

<nav
  id="navbar"
  class="fixed top-0 w-full z-50 py-8 lg:py-9 lg:p-0 px-8 lg:px-16 xl:px-[180px] transition-all duration-300 ease-in-out"
>
  <div
    class="container mx-auto transition-all duration-300 ease-in-out"
    id="navbar-container"
  >
    <div class="flex items-center justify-between">
      <h1 class="w-32 lg:w-40 aspect-[160/46.4]">
        <a href="/" aria-label="DevFest Bandung">
          <p class="hidden">DevFest Bandung</p>
          <img
            src="/logo.webp"
            alt="DevFest Bandung"
            class="w-44 lg:w-48"
            fetchpriority="high"
            loading="eager"
          />
        </a>
      </h1>
      <ul class="hidden lg:flex space-x-20">
        {
          link.map((item) => (
            <li class="flex items-center justify-center text-xl gap-1 text-white">
              {item.link ? <a href={item.link}>{item.name}</a> : item.name}
            </li>
          ))
        }
      </ul>
      <MobileMenuToggle menuItems={link} client:visible />
    </div>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const navbar = document.getElementById("navbar");
    const navbarContainer = document.getElementById("navbar-container");

    if (!navbar || !navbarContainer) return;

    function handleScroll() {
      if (window.scrollY > 50) {
        // Add scrolled styles
        navbar?.classList.add("bg-black", "lg:py-2.5", "py-2");
        navbar?.classList.remove("bg-transparent", "py-8", "lg:py-9");
        navbarContainer?.classList.add("py-2", "lg:py-2.5");
      } else {
        // Remove scrolled styles
        navbar?.classList.add("bg-transparent", "py-8", "lg:py-9");
        navbar?.classList.remove("bg-black", "lg:py-2.5", "py-2");
        navbarContainer?.classList.remove("py-2", "lg:py-2.5");
      }
    }

    // Initial check
    handleScroll();

    // Listen for scroll events
    window.addEventListener("scroll", handleScroll, { passive: true });
  });
</script>
