---
import MobileMenuToggle from "./MobileMenuToggle";

const link = ["Agenda", "Speakers", "Ticket"];
---

<nav
  class="fixed top-0 w-full bg-transparent z-50 py-9 lg:p-0 px-8 lg:px-16 xl:px-[180px]"
>
  <div class="container mx-auto py-6">
    <div class="flex items-center justify-between">
      <h1 class="w-32 lg:w-40 aspect-[160/46.4]">
        <a href="/" aria-label="DevFest Bandung">
          <p class="hidden">DevFest Bandung</p>
          <img
            src="/logo.webp"
            alt="DevFest Bandung"
            class="w-32 lg:w-48"
            fetchpriority="high"
            loading="eager"
          />
        </a>
      </h1>
      <ul class="hidden lg:flex space-x-10">
        {
          link.map((item) => (
            <li class="flex items-center justify-center text-xl gap-1 text-white">
              {item}{" "}
            </li>
          ))
        }
      </ul>
      <div class="hidden lg:flex items-center gap-2">
        Take a seat! →
        <a
          href="https://goers.co/devfestbdg25"
          class="bg-blue hover:bg-dark-blue border-2 border-dark-blue cursor-pointer text-white px-6 py-4 rounded-2xl transition-colors"
        >
          Book Now!
        </a>
      </div>
      <MobileMenuToggle menuItems={link} client:visible />
    </div>
  </div>
</nav>
