---
// Benefit Section
---

<section class="py-12 lg:py-15 px-8 lg:px-16 xl:px-[180px]">
  <div class="container mx-auto">
    <div
      class="grid grid-cols-1 lg:grid-cols-3 gap-8 lg:gap-[43px]"
    >
      <h3 class="font-medium text-[40px] lg:text-[64px] my-auto">
        What's Included in Your <strong class="text-blue">Ticket</strong>
      </h3>
      <div
        class="bg-yellow border-4 h-fit my-auto border-soft-yellow rounded-[21.1px] relative py-3.5 px-[15px] lg:py-[31px] lg:px-9 lg:col-span-2 flex flex-col gap-2.5 lg:gap-8 overflow-hidden"
      >
        <img
          src="/images/benefit/background.svg"
          alt="Benefit Background"
          class="h-full top-0 right-0 absolute"
        />
        <div class="flex flex-row gap-2.5 mt-[11px] lg:mt-[47px] relative z-10">
          <div
            class="gap-1 py-1 px-2 flex flex-row items-center font-medium text-xs lg:text-3xl rounded-xl lg:rounded-[27px] border-2 border-dark-blue bg-blue"
          >
            <img class="w-3 lg:w-8"
              src="/images/benefit/networking-head.svg"
              alt="head 1"
            />Networking<img class="w-3 lg:w-8"
              src="/images/benefit/networking-tail.svg"
              alt="head 2"
            />
          </div>
          <div
            class="gap-1 py-1 px-2 flex flex-row items-center font-medium text-xs lg:text-3xl rounded-xl lg:rounded-[27px] border-2 border-dark-blue bg-blue"
          >
            Lunch<img class="w-3 lg:w-8" src="/images/benefit/burger.svg" alt="burger" />
          </div>
        </div>
        <div class="flex flex-row gap-2.5 relative z-10">
          <div
            class="gap-1 py-1 px-2 flex flex-row items-center font-medium text-xs lg:text-3xl rounded-xl lg:rounded-[27px] border-2 border-dark-blue bg-blue"
          >
            Exclusive SWAG<img class="w-3 lg:w-8"
              src="/images/benefit/totebag.svg"
              alt="totebag"
            />
          </div>
          <div
            class="gap-1 py-1 px-2 flex flex-row items-center font-medium text-xs lg:text-3xl rounded-xl lg:rounded-[27px] border-2 border-dark-blue bg-blue"
          >
            All Acces Stage<img class="w-3 lg:w-8" src="/images/benefit/stage.svg" alt="stage" />
          </div>
        </div>
        <p
          class="text-[10px] lg:text-2xl mt-[11px] lg:mt-2 mb-0 text-black relative z-10"
        >
          <span class="text-red">*</span>And many more benefit
        </p>
      </div>
    </div>
  </div>
</section>
