<section
  class="pt-32 pb-12 lg:pt-40 lg:pb-28 flex items-center justify-center px-8 lg:px-16 xl:px-[180px]"
>
  <div
    class="container mx-auto text-center flex flex-col items-center gap-6 z-20"
  >
    <h2
      class="text-start lg:text-center text-5xl sm:text-6xl md:text-[64px] lg:text-[80px] font-medium bg-linear-to-r text-white leading-tight"
    >
      The <strong class="text-blue">BIGGEST DevFest</strong> event in&nbsp;Indonesia
      is coming
    </h2>
    <p
      class="text-start lg:text-center text-xl md:text-2xl lg:text-3xl text-white lg:mx-auto leading-relaxed"
    >
      Catch up on the latest from Tech Conferences, Workshops, Panel Discussion, <br
        class="hidden lg:inline"
      /> Women Empowerment, and Live Podcasts. Don't miss out!
    </p>
    <p class="flex items-center justify-center gap-2 text-start">
      <img src="/images/person.webp" alt="participants" class="inline h-5" />
      Over 1800+ people have <br class="min-[500px]:hidden" /> snagged their tickets!
    </p>
  </div>
</section>
