---
import BaseHead from "../components/layout/BaseHead.astro";
import Navbar from "../components/layout/Navbar.astro";
import Hero from "../components/landing-page/hero.astro";
import RunningText from "../components/landing-page/running-text.astro";
import About from "../components/landing-page/about.astro";
import Sponsor from "../components/landing-page/sponsor.astro";
import Skills from "../components/landing-page/skills.astro";
import Community from "../components/landing-page/community.astro";
import Footer from "../components/layout/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Speakers from "../components/landing-page/speakers.astro";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <!-- Navigation -->
    <Navbar />

    <!-- Hero Section -->
    <Hero />

    <!-- Running Text -->
    <RunningText />

    <!-- About Section -->
    <About />

    <!-- Speakers Section -->
    <Speakers />

    <!-- Sponsor Section -->
    <Sponsor />

    <!-- Skills Section -->
    <Skills />

    <!-- Community Section -->
    <Community />

    <!-- Footer -->
    <Footer />
  </body>
</html>
